@font-face {
  font-family: "SkodaProExtraBold";
  font-style: normal;
  font-weight: normal ;
  src: url("fonts/SkodaPro_ExtraBold.ttf") format("truetype"); }
@font-face {
  font-family: "SkodaProBold";
  font-style: normal;
  font-weight: normal;
  src: url("fonts/SkodaPro-Bold.ttf") format("truetype"); }
@font-face {
  font-family: "SkodaProRegular";
  font-style: normal;
  font-weight: normal;
  src: url("fonts/SkodaPro-Regular.ttf") format("truetype"); }
@font-face {
  font-family: "SkodaProLight";
  font-style: normal;
  font-weight: normal;
  src: url("fonts/SkodaPro_Light.ttf") format("truetype"); }
